<div class="container">
  <div class="row">
    <div class="col-12 col-md-8">
      <% if current_user.gender == "woman" %>
        <%= render 'woman_only_event', event: @event %>
      <% else %>
        <%= render 'some_event', event: @event %>
      <% end %>
    </div>
  </div>
</div>
